.lh15 {
	line-height: 15px;
}

#termDiv {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
#termDiv table {
	width: 100%;
	height: 100%;
}

.term {
	font-family: "Courier New",courier,fixed,monospace;
	font-size: 12px;
	color: #94aad6;
	background: none;
	letter-spacing: 1px;
}
.term .termReverse {
	color: #232e45;
	background: #95a9d5;
}


a.termopen,a.termopen:link,a.termopen:visited {
	text-decoration: none;
	color: #77dd11;
	background: none;
}
a.termopen:hover {
	text-decoration: none;
	color: #222222;
	background: #77dd11;
}
a.termopen:active {
	text-decoration: none;
	color: #222222;
	background: #eeeeee;
}

table.inventory td {
	padding-bottom: 20px !important;
}

tt {
	font-family: courier,fixed,monospace;
	color: #ccffaa;
	font-size: 12px;
	line-height: 15px;
}

li {
	line-height: 15px;
	margin-bottom: 8px !important;
}

.dimmed,.dimmed *,.dimmed * * {
	background-color: #222222 !important;
	color: #333333 !important;
}